#fondo {
    background-color: orange;
<<<<<<< HEAD
    width: 40%;
    height: 40%;
    margin-inline: 30%;
=======
    width: 400px;
    height: 200px;
    margin-inline: 30%;
    margin-top: 20%;
    padding-top: 200px;
>>>>>>> 240fa517cad5002ec56761e22eec420718c1d9c8
}

#secreto {
    background-color: yellow;
<<<<<<< HEAD
    width: 50%;
    height: 40%;
    margin-inline: 25%;
}
=======
    width: 200px;
    height: 40%;
    margin:auto;
   
    }
>>>>>>> 240fa517cad5002ec56761e22eec420718c1d9c8

#secreto:active {
    background-color: lime;
}

<<<<<<< HEAD
#tapa {
=======
#tpa {
>>>>>>> 240fa517cad5002ec56761e22eec420718c1d9c8
    background-color: red;
    width: 40%;
    height: 40%;
    position: absolute;
    transform: translateY(-40%)
<<<<<<< HEAD
}
=======
    }
>>>>>>> 240fa517cad5002ec56761e22eec420718c1d9c8

#tapa:hover {
    display: none;
}