#fondo {
    background-color: orange;
    width: 40%;
    height: 40%;
    margin-inline: 30%;
}

#secreto {
    background-color: yellow;
    width: 50%;
    height: 40%;
    margin-inline: 25%;
}

#secreto:active {
    background-color: lime;
}

#tapa {
    background-color: red;
    width: 40%;
    height: 40%;
    position: absolute;
    transform: translateY(-40%)
}

#tapa:hover {
    display: none;
}