.Contenedor1{
    width: 100%;
    background-color: aqua;
    height: 100px;
    text-align: center;
    border: solid 2px;
}
.Contenedor2{
    width: 100%;
    background-color: blueviolet;
    height: 80px;
    text-align: center;
    border: solid 2px;
}
.Contenedor3{
    width: 100%;
    height: 500px;
    background-color: blanchedalmond;
    text-align: center;
    border: solid 2px;
    border-collapse: collapse;
}
.Contenedor4{
width: 49.5%;
height: 500px;
background-color: rgb(219, 188, 14);
border: solid 2px;
display: inline-block;
margin-left: -115px;
border-collapse: collapse;
}
.Contenedor5{
width: 49.5%;
height: 500px;
background-color: rgb(219, 188, 14);
border: solid 2px;
display: inline-block;
margin-right: -30px;
border-collapse: collapse;
}
.Contenedor6{
width: 100%;
height: 250px;
background-color: rgb(219, 188, 14);
border: solid 2px;
display: inline-block;

border-collapse: collapse;
}
.Contenedor7{
width: 100%;
height: 250px;
background-color: rgb(219, 188, 14);
border: solid 2px;
display: inline-block;

border-collapse: collapse;
}