.Contenedor1{
    width: 100%;
    background-color: aqua;
    height: 100px;
    text-align: center;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
}
.Contenedor2{
    width: 100%;
    background-color: blueviolet;
    height: 80px;
    text-align:center;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contenedor3{
    width: 100%;
    height: 500px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contenedor4{
width: 50%;
height: 500px;
background-color: rgb(219, 188, 14);
display: flex;
justify-content: center;
align-items: center;
float: left;
}
.Contenedor5{
width: 50%;
height: 500px;
background-color: rgb(14, 219, 134);
display: flex;
justify-content: center;
align-items: center;
}
.Contenedor6{
width: 100%;
height: 300px;
background-color: rgb(219, 188, 14);
display: flex;
justify-content: center;
align-items: center;
}
.Contenedor7{
width: 100%;
height: 300px;
background-color: rgb(14, 219, 58);
display: flex;
justify-content: center;
align-items: center;
}