.Contenedor1{
    width: 100%;
    background-color: aqua;
    height: 100px;
    text-align: center;
    border: solid 2px;
}
.Contenedor2{
    width: 100%;
    background-color: blueviolet;
    height: 80px;
    text-align: center;
    border: solid 2px;
}
.Contenedor3{
    width: 100%;
    height: 500px;
    background-color: blanchedalmond;
    text-align: center;
    border: solid 2px;
}
